<mat-toolbar color="primary">Quick Shopping List</mat-toolbar>

<table #inputTable="matTable" [dataSource]="[1]" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="no">
    <th *matHeaderCellDef mat-header-cell> No</th>
    <td *matCellDef="let item" mat-cell></td>
  </ng-container>

  <ng-container matColumnDef="itemInput">
    <th *matHeaderCellDef mat-header-cell> itemInput</th>
    <td *matCellDef="let item" class="mat-body-2" mat-cell>
      <mat-form-field>
        <mat-label>{{inputPlaceHolder}}</mat-label>
        <input [(ngModel)]="newItem" matInput name="newItemInput"/>
      </mat-form-field>
    </td>

  </ng-container>

  <ng-container matColumnDef="add">
    <th *matHeaderCellDef mat-header-cell> Add</th>
    <td *matCellDef="let item" mat-cell>
      <button (click)="add()" color="primary" mat-raised-button>add item</button>
    </td>
  </ng-container>

  <tr *matRowDef="let row; columns: ['no','itemInput', 'add'];" mat-row></tr>
</table>


<mat-divider></mat-divider>

<h3 matSubheader>My shopping list</h3>

<div *ngIf="pendingItems.length === 0 && cartedItems.length === 0" class="mat-body-2">You are yet to add an item to your
  shopping list.
</div>

<div *ngIf="pendingItems.length === 0 && cartedItems.length != 0" class="mat-body-2">Congratulations!. You have
  picked all the items
</div>

<table #pendingTable="matTable" [dataSource]="pendingItems" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="no">
    <th *matHeaderCellDef mat-header-cell> No</th>
    <td *matCellDef="let item" mat-cell> {{pendingItems.indexOf(item) + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="item">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let item" class="mat-body-2" mat-cell> {{item}} </td>
  </ng-container>

  <ng-container matColumnDef="gotIt">
    <th *matHeaderCellDef mat-header-cell> Picked</th>
    <td *matCellDef="let item" mat-cell>
      <button (click)="cart(item)" color="success" mat-raised-button matTooltip="move item to the cart">picked</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="remove">
    <th *matHeaderCellDef mat-header-cell> Remove</th>
    <td *matCellDef="let item" mat-cell>
      <button (click)="remove(item)" color="warn" mat-raised-button matTooltip="permanently remove item from the list">
        remove
      </button>
    </td>
  </ng-container>

  <tr *matRowDef="let row; columns: ['no', 'item', 'gotIt', 'remove'];" mat-row></tr>
</table>

<mat-divider></mat-divider>

<h3 matSubheader>My Cart (already picked items)</h3>

<div *ngIf="cartedItems.length ===0" class="mat-body-2">You are yet to pick up an item.</div>

<table #cartTable="matTable" [dataSource]="cartedItems" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="no">
    <th *matHeaderCellDef mat-header-cell> No</th>
    <td *matCellDef="let item" mat-cell> {{cartedItems.indexOf(item) + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="item">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let item" class="mat-body-2" mat-cell> {{item}} </td>
  </ng-container>

  <ng-container matColumnDef="filler">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let item" mat-cell>
    </td>
  </ng-container>

  <ng-container matColumnDef="remove">
    <th *matHeaderCellDef mat-header-cell> Carted</th>
    <td *matCellDef="let item" mat-cell>
      <button (click)="pending(item)" color="warn" mat-raised-button matTooltip="move item back to the shopping list">
        remove
      </button>
    </td>
  </ng-container>

  <tr *matRowDef="let row; columns: ['no', 'item', 'filler','remove'];" mat-row></tr>
</table>

<mat-divider></mat-divider>

<div align="center">
  <button (click)="doneShopping()" color="primary" mat-raised-button matTooltip="will clear the data">shopping done
  </button>
</div>

