section {
  display: table;
  margin: 8px;
}

.row {
  display: table-cell;
}

.row button {
  display: table-cell;
  margin-right: 4px;
  margin-left: 4px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


table {
  width: 90%;
}

mat-divider{
  margin-top: 5%;
}
