<!DOCTYPE html>
<mat-toolbar color="primary">
  <span>Shared List</span>
  <span class="toolbar-spacer"></span>
  <button *ngIf="!syncSuccess" mat-icon-button matTooltip="Data save failed. Check your internet connection">
    <mat-icon>sync_problem</mat-icon>
  </button>
  <button (click)="share()" mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
  <button (click)="help()" mat-icon-button>
    <mat-icon>help</mat-icon>
  </button>
  <button [matMenuTriggerFor]="settings" mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settings="matMenu">
    <button (click)="story()" mat-menu-item>
      <mat-icon>book</mat-icon>
      Story
    </button>
    <button (click)="about()" mat-menu-item>
      <mat-icon>group</mat-icon>
      About
    </button>
    <button (click)="mailTo()" mat-menu-item>
      <mat-icon>phone</mat-icon>
      Contact us
    </button>
    <button (click)="policy()" mat-menu-item>
      <mat-icon>phone</mat-icon>
      Privacy Policy
    </button>
  </mat-menu>
</mat-toolbar>

<table #inputTable="matTable" [dataSource]="[1]" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="no">
    <th *matHeaderCellDef mat-header-cell> No</th>
    <td *matCellDef="let item" mat-cell></td>
  </ng-container>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="add()">
    <mat-option *ngFor="let option of filteredItems | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>

  <ng-container matColumnDef="itemInput">
    <th *matHeaderCellDef mat-header-cell> itemInput</th>
    <td *matCellDef="let item" class="mat-body-2" mat-cell>
      <mat-form-field>
        <mat-label>{{inputPlaceHolder}}</mat-label>
        <input (keydown.enter)="add()" [(ngModel)]="newItem" [formControl]="itemInputControl" [matAutocomplete]="auto"
               matInput name="newItemInput"/>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="add">
    <th *matHeaderCellDef mat-header-cell> Add</th>
    <td *matCellDef="let item" mat-cell>
      <button (click)="add()" matBadge="{{pendingItems.length}}" matBadgeColor="warn"
              matTooltip="Add an item to list">
        <mat-icon>add</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matRowDef="let row; columns: ['itemInput', 'add'];" mat-row></tr>
</table>


<div *ngIf="pendingItems.length === 0 && cartedItems.length === 0" class="mat-body-2">You are yet to add an item.
</div>

<div *ngIf="pendingItems.length === 0 && cartedItems.length != 0" align="center" class="mat-body-2">Congratulations!.
  You have
  picked all {{this.cartedItems.length}} items
</div>

<table #pendingTable="matTable" [dataSource]="pendingItems" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="item">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let item" class="mat-body-2" mat-cell> {{item}} </td>
  </ng-container>

  <ng-container matColumnDef="gotIt">
    <th *matHeaderCellDef mat-header-cell> Picked</th>
    <td *matCellDef="let item" mat-cell>
      <button (click)="cart(item)" matTooltip="Add item to cart">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="remove">
    <th *matHeaderCellDef mat-header-cell> Remove</th>
    <td *matCellDef="let item" mat-cell>
      <button (click)="remove(item)" matTooltip="Delete item">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matRowDef="let row; columns: [ 'item', 'gotIt', 'remove'];" mat-row></tr>
</table>
<div *ngIf="pendingItems.length != 0 || cartedItems.length != 0" class="mat-body-2">
  <h3 matSubheader style="margin-top: 1em;">
    <mat-icon matBadge="{{cartedItems.length}}" matBadgeColor="primary"
              style="vertical-align: middle; margin-left: 1em; margin-right: 0.5em;">add_shopping_cart
    </mat-icon>
    (Carted items)
  </h3>
</div>

<table #cartTable="matTable" [dataSource]="cartedItems" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="cartItem">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let item" class="mat-body-2" mat-cell> {{item}} </td>
  </ng-container>


  <ng-container matColumnDef="undo">
    <th *matHeaderCellDef mat-header-cell> Not in</th>
    <td *matCellDef="let item" mat-cell>
      <button (click)="pending(item)" matTooltip="move out of cart">
        <mat-icon>undo</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="filler">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let item" mat-cell>
    </td>
  </ng-container>

  <tr *matRowDef="let row; columns: [ 'cartItem', 'filler', 'undo'];" mat-row></tr>
</table>

<div class="lastUpdated">
  <span *ngIf="this.lastUpdated">Last updated on {{lastUpdated.toLocaleString()}}</span>
</div>

<div class="done">
  <button (click)="doneShopping()" matTooltip="Clear the list and create new">
    <mat-icon>done</mat-icon>
  </button>
</div>

