<mat-toolbar color="primary">Quick Shopping List</mat-toolbar>
<mat-divider></mat-divider>
<table mat-table class="mat-elevation-z8" [dataSource]="[1]" #inputTable="matTable">

  <ng-container matColumnDef="no">
    <td mat-cell *matCellDef="let item"></td>
  </ng-container>

  <ng-container matColumnDef="itemInput">
    <td mat-cell *matCellDef="let item" class="mat-body-2">
      <mat-form-field>
        <mat-label>{{inputPlaceHolder}}</mat-label>
        <input matInput [(ngModel)]="newItem" name="newItemInput"/>
      </mat-form-field>
    </td>

  </ng-container>

  <ng-container matColumnDef="add">
    <td mat-cell *matCellDef="let item">
      <button mat-raised-button color="primary" (click)="add()">add item</button>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: ['no','itemInput', 'add'];"></tr>
</table>


<mat-divider></mat-divider>

<h3 matSubheader>My shopping list</h3>

<table mat-table [dataSource]="pendingItems" class="mat-elevation-z8" #pendingTable="matTable">

  <ng-container matColumnDef="no">
    <td mat-cell *matCellDef="let item"> {{pendingItems.indexOf(item) + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="item">
    <td mat-cell *matCellDef="let item" class="mat-body-2"> {{item}} </td>
  </ng-container>

  <ng-container matColumnDef="gotIt">
    <td mat-cell *matCellDef="let item">
      <button mat-raised-button color="success" (click)="cart(item)">picked</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="remove">
    <td mat-cell *matCellDef="let item">
      <button mat-raised-button color="warn" (click)="remove(item)">remove</button>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: ['no', 'item', 'gotIt', 'remove'];"></tr>
</table>

<mat-divider></mat-divider>
<h3 matSubheader>My Cart (already picked items)</h3>
<table mat-table [dataSource]="cartedItems" class="mat-elevation-z8" #cartTable="matTable">

  <ng-container matColumnDef="no">
    <td mat-cell *matCellDef="let item"> {{cartedItems.indexOf(item) + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="item">
    <td mat-cell *matCellDef="let item" class="mat-body-2"> {{item}} </td>
  </ng-container>

  <ng-container matColumnDef="filler">
    <td mat-cell *matCellDef="let item">
    </td>
  </ng-container>

  <ng-container matColumnDef="remove">
    <td mat-cell *matCellDef="let item">
      <button mat-raised-button color="warn" (click)="pending(item)">remove</button>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: ['no', 'item', 'filler','remove'];"></tr>
</table>

<mat-divider></mat-divider>

<button aligin="center" mat-raised-button color="primary" (click)="doneShopping()">shopping done</button>

